 {% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
<div>
<a href="/">Homepage</a>
| <a href="{% url 'sec-paginaCandidatos' %}">Cadidatos</a>
| <a href="{% url 'sec-minhaLista' %}">Meus Cadidatos</a>
| <a href="{% url 'sec-atualiza' %}">Atualiza Candidatos</a>
{% if user.is_authenticated %}
| <a href="{% url 'sec-logout' %}">Logout</a>
| <a href="{% url 'sec-password_change' %}">Trocar senha</a>
| <a href="{% url 'sec-completaDadosUsuario' pk=user.id %}">Terminar registro</a>
| <a href="{% url 'sec-deleta' %}">Deletar minha conta</a>
{% else %}
| <a href="{% url 'sec-registro' %}">Registrar</a>
| <a href="{% url 'sec-login' %}?next={% url 'sec-paginaCandidatos' %}">
Login
</a>
{% endif %}
| Você é {% firstof user.username "visitante" %}
</div>
<hr>
{% block content %}{% endblock %}
</body>
</html>
